@mixin export-theme($theme) {
  @each $name, $value in $theme {
    --#{$name}: #{$value};
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin floating-logo($size: 80px, $float-distance: 10px, $duration: 3s) {
  width: $size;
  height: $size;
  margin-bottom: 1rem;
  animation: float $duration ease-in-out infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-$float-distance);
    }
  }
}
